@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<table>
  <thead>
    <tr><th>Value</th></tr>
  </thead>
  <tbody>
    @foreach (var item in Model.Messages.Values)
    {
        <tr>
          <td>@item.Value</td>
        </tr>
    }
  </tbody>
</table>
